header {
    background-color: #333; /* Warna latar belakang header */
    color: #fff; /* Warna teks header */
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
  }
  
  /* Gaya untuk maincontainer */
  .maincontainer {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  .maincontainer h1{
    text-align: center;
    font-size: 50px;
  }
  /* Gaya untuk gambar */
  .center-image {
    text-align: center;
  }
  
  .center-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc; /* Jika Anda ingin menambahkan garis tepi pada gambar */
    padding: 10px;
  }
  
  /* Gaya untuk footer */
  footer {
    background-color: #333; /* Warna latar belakang footer */
    color: #fff; /* Warna teks footer */
    text-align: center;
    padding: 10px 0;
  }