@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-color:#0b294d;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Galaxy header style */
.galaxy-header {
    background-color:#233954;
    background-size: cover;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
}

.left-section {
    display: flex; 
    align-items: center;
    margin-left: 50px;
}

/* Logo styles */
.logo img {
    max-width: 130px; 
    height: auto;
}

.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: white;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color:#f7941d;
	color: black;
}

.search-container {
	position: relative;
	display: inline-block;
	margin-right: 50px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
    color: black;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color:#f7941d;
	color: black;
}

.search {
	position: absolute;
	left: 49px;
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
}

.search:focus {
	width: 360px;
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 49px; 
}

.expandright:focus {
	padding: 0 0 0 16px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-right: 50px;
    transition: transform 0.2s ease-in-out; 
}

.navbar a {
	padding: 10px 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.2s ease-in-out; 
}

.navbar a:hover {
    color: #f7941d; 
}

.sign-in-button {
    background-color: transparent;
	font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.sign-in-button:hover {
    background-color:#f7941d;
	border: none;
    color:black; /* Change color on hover */
}

.category-menu{
	position: relative;
  	display: inline-block;
}

.menu-icon {
    font-size: 15px;
	transition: color 0.2s ease-in-out; 
    margin-left: 5px; 
}

.dropdown-content {
	margin-top: 5px;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
.dropdown-content a {
	color: black;
	text-align: left;
	font-size: 11px;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
.dropdown-content a:hover {
	background-color:#f7941d;
	color: white;
}

.category-menu:hover .dropdown-content {
	display: block;
}

.category-menu:hover{
	color:#f7941d;
}

main{
	height: 1200px;
}


/*footer*/

.footer-first {
	display: flex;
  	flex-wrap: wrap;
	justify-content: center;
  	align-content: flex-start;
	background-color:#233954;
	color: #fff;
	padding: 30px;
  }
  
  
  .footer-column {
	margin: 0 100px;
  }
  
  .galaxy-footer h3 {
	font-size: 18px;
	margin-bottom: 10px;
	color:#f7941d;
  }
  
  .galaxy-footer ul {
	list-style-type: none;
	padding: 0;
  }
  
  .galaxy-footer ul li {
	margin-bottom: 8px;
  }

  ul li a{
	font-size: 14px;
  }
  
  .galaxy-footer ul li a {
	text-decoration: none;
	color: #fff;
	transition: color 0.3s ease;
  }
  
  .galaxy-footer ul li a:hover {
	color:#aeb3ba; /* Change color on hover */
  }
  
  .social-icons {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin-top: 10px;
  }
  
  .social-icons li {
	margin-right: 10px;
  }
  
  .social-icons a {
	text-decoration: none;
	color: #fff;
	font-size: 24px;
	transition: color 0.3s ease;
  }

  .footer-second{
	text-align: center;
	background-color:#0f1823;
	color: #fff;
	padding: 30px;
  }